:root{
  --bs-orange: #DF6951;
  --bs-navy: #181E4B;
  --bs-abu: #bcbcbc;

}

@media (min-width: 1200px) {
  .container{
      max-width: 1140px;
  }
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    /* background-color: rgb(142, 251, 255); */
    /* min-height: 2000px; */
    font-family: 'Poppins', sans-serif;
}


.button-primary {
    width: 135px;
    height: 50px;
    background-color: #DF6951;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.hero {
  background-image: url("img/about/hero-about.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero p {
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1.8px;
  text-transform: uppercase;
}

.hero h1 {
  font-family: Yesteryear;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
}

.promotion h5 {
 color: var(--bs-orange);
 text-transform: uppercase;
}

.promotion h1 {
  color: var(--bs-navy);
  font-size: 30px;
  font-family: Volkhov;
  font-style: normal;
  font-weight: 700;
}

.promotion p {
  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
}

.button-view {
  width: 135px;
  height: 50px;
  background-color: var(--bs-orange);
  color: #fff;
  border: none;
  font-size: 12px;
  border-radius: 5px;
}



@media (min-width: 770px) {
  .hero h1 {
  font-size: 120px;
}
.promotion h1 {
  font-size: 35px;
}
.promotion p {
  font-size: 12px;
}

.promotion img {
  width: 450px;
}
}