:root{
  --bs-orange: #DF6951;
  --bs-navy: #181E4B;
  --bs-abu: #bcbcbc;
}

@media (min-width: 1200px) {
  .container{
      max-width: 1140px;
  }
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    /* background-color: rgb(100, 223, 236); */
    /* min-height: 2000px; */
    font-family: 'Poppins', sans-serif;
}


.button-primary {
    width: 135px;
    height: 50px;
    background-color: var(--bs-orange);
    color: #fff;
    border: none;
    border-radius: 5px;
}

.hero {
  background-image: url("img/home/jumbotron/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


.hero h1 {
  font-family: Poppins;
  font-weight: 700 ;
  font-size: 34px;
  color: #fff;
}

.hero .box-blur { 
  padding: 8px;
  background-color: #F3F3F399;
  backdrop-filter: blur(8px) saturate(132%);
  -webkit-backdrop-filter: blur(8px) saturate(132%); 
  border-radius: 5px;
 }

.box-blur li {
  display: inline-block;
} 

.box-blur li a{
  display: inline-block;
  font-size: 12px;
} 

.hero-people p {
  color: #FFF;
  font-family: Poppins;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
}

@media (min-width: 770px) {
  .hero h1 {
    font-size: 46px;
  }

  .box-blur li a{
    font-size: 16px;
  }

  .hero-people {
    display: flex;
    align-items: center;
  }

  .col {
    max-width: 500px;
  }
}